# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# testing

/venv
/d_venv
/env

/dozie/__pycache__


/home/__pycache__/

# production

.idea
.vscode/
db.sqlite3

*.pyc
